<!DOCTYPE html>

<title>Product</title>

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ product.rating }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Thumb</th>
                <td>
                <div class="card">
                    <div class="card-body fa-file-image-o"> <img src="{{ asset('images/'~product.thumb) }}" > </div>
                </div>
                </td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ product.color }}</td>
            </tr>
            <tr>
                <th>Qunatity</th>
                <td>{{ product.qunatity }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ product.likes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">back to list</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
